body{
    background-image: url('./macos-monterey-wwdc-21-stock-dark-mode-5k-6016x6016-5585.jpg');
    background-size: cover;
}
input{
    font-size: 20px;
    height: 50px;
    width: 90%;
    border-radius: 10px;
    border:none;
    background-color: rgb(237, 237, 237);
    padding: 5px;
    color:rgb(0, 0, 0);
    margin: 15px;
}
button{
    font-size: 20px;
    margin:5px;
    padding: 14px 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(52, 69, 106);
    color: white;
    transition: 0.4s;
}
button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(48, 52, 60);
}

body{
    text-align: center;
}
#form,#usersPlace{
    scale: 1;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
    padding-top: 10px;
    width: 30%;
    height: auto;
    border-radius: 20px;
    display: inline-block;

    /* From https://css.glass */
background: rgba(215, 215, 215, 0.627);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(255, 255, 255, 0.43);
}



.userdiv{
    opacity: 1;
    scale: 1;
    height: auto;
    background-color: rgba(216, 216, 216, 0.374);
    margin:20px;
    border-radius: 10px;
    padding-left: 10px;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-duration: 0;
    animation-direction: normal;
}

@keyframes addUser{
    from{
        opacity: 0;scale: 0.7;
    }
    to{
        opacity: 1;scale: 1;
    }
}
.removeBtn{
    width: auto;

}

.userNames{
    display: inline-block;
    width: 30%;

    text-align: left;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.userAges{
    display: inline-block;
    width: 30%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-size: 25px;
    color: white;
    
}

#nameError,#ageError{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: -10px;
    margin-left: 25px;
    text-align: left;
    color: rgb(255, 0, 0);
    display: none;
}